/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;

$purple: #5222D0;
$opal: #EC615B;
$champagne-pink: #FFE5D4;
$cultured: #EFF0EB;
$cultured-lighter: #f9f9f7;
$mustard: #FFDD57;

// Update Bulma's global variables
$body-background-color: $cultured-lighter;
$primary: $purple;
$link: $opal;
$grey-light: $champagne-pink;
$white-ter: $cultured;
$yellow: $mustard;
